* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100%;
    padding: 1rem;
    background-color: #fff;
}

.content h1 {
    margin: 0;
    padding-left: 7px;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .content {
        max-width: 576px;
        height: auto;
        margin:1rem auto;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pokemon .detail img {
        height: 70px;
    }
}



@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin:1rem auto;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .pokemon .detail img {
        height: 100px;
    }
}




